In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel(r'C:\Users\samba\Downloads\Purchase Data - Assignment Details.xlsx','data')

In [3]:
data.shape

(58695, 25)

In [4]:
data.columns

Index(['Unnamed: 0', 'Data', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24'],
      dtype='object')

In [5]:
data.drop('Unnamed: 0',axis = 1,inplace = True)

In [6]:
data.drop(0,axis = 0,inplace = True)

In [7]:
data.columns = data.iloc[0]

In [8]:
data.set_index('ID',inplace = True)

In [9]:
data.reset_index()

1,ID,Day,Incidence,Brand,Quantity,Last_Inc_Brand,Last_Inc_Quantity,Price_1,Price_2,Price_3,...,Promotion_3,Promotion_4,Promotion_5,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,ID,Day,Incidence,Brand,Quantity,Last_Inc_Brand,Last_Inc_Quantity,Price_1,Price_2,Price_3,...,Promotion_3,Promotion_4,Promotion_5,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
1,200000113,5,1,5,2,0,0,1.59,1.87,1.97,...,0,0,0,0,0,75,2,213333,2,1
2,200000113,15,0,0,0,5,1,1.52,1.89,1.98,...,0,0,0,0,0,75,2,213333,2,1
3,200000113,22,1,5,3,0,0,1.5,1.9,1.99,...,0,0,0,0,0,75,2,213333,2,1
4,200000113,26,0,0,0,5,1,1.5,1.9,1.99,...,0,0,0,0,0,75,2,213333,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58689,200000150,697,1,2,6,0,0,1.42,1.51,1.97,...,0,0,0,1,1,18,1,97741,1,1
58690,200000150,703,0,0,0,2,1,1.41,1.85,2.01,...,1,0,0,1,1,18,1,97741,1,1
58691,200000150,710,0,0,0,0,0,1.36,1.84,2.09,...,0,0,0,1,1,18,1,97741,1,1
58692,200000150,717,0,0,0,0,0,1.5,1.8,2.14,...,0,0,0,1,1,18,1,97741,1,1
58693,200000150,722,1,2,3,0,0,1.51,1.82,2.09,...,0,0,0,1,1,18,1,97741,1,1

In [10]:
data.isnull().sum()

1
Day                  0
Incidence            0
Brand                0
Quantity             0
Last_Inc_Brand       0
Last_Inc_Quantity    0
Price_1              0
Price_2              0
Price_3              0
Price_4              0
Price_5              0
Promotion_1          0
Promotion_2          0
Promotion_3          0
Promotion_4          0
Promotion_5          0
Sex                  0
Marital status       0
Age                  0
Education            0
Income               0
Occupation           0
Settlement size      0
dtype: int64

In [11]:
data.describe()

1,Day,Incidence,Brand,Quantity,Last_Inc_Brand,Last_Inc_Quantity,Price_1,Price_2,Price_3,Price_4,...,Promotion_3,Promotion_4,Promotion_5,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
count,58694,58694,58694,58694,58694,58694,58694.00,58694.00,58694.00,58694.00,...,58694,58694,58694,58694,58694,58694,58694,58694,58694,58694
unique,731,3,7,17,7,3,38.00,31.00,22.00,27.00,...,3,3,3,3,3,57,5,500,4,4
top,395,0,0,0,0,0,1.47,1.89,1.99,2.21,...,0,0,0,0,0,35,1,124597,1,0
freq,179,44055,44055,44055,44133,44133,7131.00,20033.00,11053.00,10899.00,...,56181,51776,56588,36044,35620,2859,37161,358,29882,32081

In [12]:
columns = list(data.columns)
data.describe()
for i in columns:
    Q1=data.describe().loc["25%",i]
    Q3=data.describe().loc["75%",i]
    IQR=Q3-Q1
    print(i,data.loc[data[i]<(Q1-IQR*1.5),i].count())
    c = (Q1-IQR*1.5)
    print(i,data.loc[data[i]>(Q3+IQR*1.5),i].count())
    b = (Q3+IQR*1.5)

KeyError: '25%'

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
for i in columns:
    plt.figure(figsize = (5,5))
    sns.boxplot(x = data[i])
    plt.plot()

In [ ]:
columns = ['Day','Quantity','Last_Inc_Quantity','Price_1','Price_2','Price_3','Price_4','Price_5','Age','Income']

In [ ]:
for i in columns:
    Q1=data.describe().loc["25%",i]
    Q3=data.describe().loc["75%",i]
    IQR=Q3-Q1
    b = (Q3+IQR*1.5)
    c = (Q1-IQR*1.5)
    data[i].mask((data[i]>b),data[i].mean(),inplace =True)
    data[i].mask((data[i]<c),data[i].mean(),inplace =True)

In [ ]:
data.corr()

In [ ]:
crossstab = pd.crosstab(data['Occupation'],data['Quantity'])

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
stat,p,dof,expected = chi2_contingency(crossstab)

In [ ]:
print(stat,p,dof,expected)

In [ ]:
print('p:',p)

In [ ]:
if   p > 0.05:
    print("Do not reject the null hypothesis")
else:
    print("Reject the null hypothesis ")

#### Then Occupation and Quantity are Independent

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize = ((20,20)))
sns.heatmap(data=data.corr(),annot = True)
plt.show()

In [ ]:
correlation = data.corr()
print(correlation.iloc[:,4])

In [ ]:
plt.figure(figsize = (30,10))
sns.lineplot(data = correlation.iloc[:,4])
plt.show()

In [ ]:
data1 = data.iloc[:,:]

In [ ]:
data1

## We can Say By This Heat Map The Quantity of Chocolates Will Definately Dependent on Incidence, Brand, Last Inc Brand, Last Inc Quantity. But highly Effected by Incidence and Brand.

In [ ]:
Brand_Name = []
for row in data['Brand']:
    if row == 1:   Brand_Name.append('Brand 1')
    elif row == 2 :  Brand_Name.append('Brand 2')
    elif row == 3:  Brand_Name.append('Brand 3')
    elif row == 4:  Brand_Name.append('Brand 4')
    elif row ==5:   Brand_Name.append('Brand 5')
    else: Brand_Name.append('No Brand')

In [ ]:
data['Brand_Name'] = Brand_Name

In [ ]:
data = data.drop(['Brand'], axis=1)

In [ ]:
Gender = []
for row in data['Sex']:
    if row == 0:   Gender.append('Male')
    else: Gender.append('Female')

In [ ]:
data['Gender'] = Gender

In [ ]:
data = data.drop(['Sex'], axis=1)

In [ ]:
data

In [ ]:
data['Brand_Name'].unique()

In [ ]:
Brand_data_Sum =data.groupby(by=['Brand_Name']).sum()

In [ ]:
Brand_data_Sum

## By the Brand_data_sum We Observe that Most of the Quantity is 2 and then 5,4,1,3.
## Most of Sales occur in Brand 2 and least sales occur in Brand3

In [ ]:
data_Gender_Sum =data.groupby(by=['Gender']).sum()

In [ ]:
data_Gender_Sum

In [ ]:
INCIDENCE = []
for row in data['Incidence']:
    if row == 0:   INCIDENCE.append('Not Purchased')
    else: INCIDENCE.append('Purchased')

In [ ]:
data['INCIDENCE'] = INCIDENCE

In [ ]:
data = data.drop(['Incidence'], axis=1)

## Male Buys More Chocolates when Compare to Female.

In [ ]:
data_count_Incidence =data.groupby(by=['INCIDENCE']).count()

In [ ]:
data_count_Incidence

In [ ]:
data_sum_Incidence =data.groupby(by=['INCIDENCE']).sum()

In [ ]:
data_sum_Incidence

## Data Contains Most of Buyers are not Purchased Chocolates based on category of Interest.
## Only 14638 Members are Buyed Chocolates Based on Interest

In [ ]:
Marriage_Status = []
for row in data['Marital status']:
    if row == 0:   Marriage_Status.append('Single')
    else: Marriage_Status.append('Non-Single')

In [ ]:
data['Marriage_Status'] = Marriage_Status

In [ ]:
data = data.drop(['Marital status'], axis=1)

In [ ]:
data_sum_Marital =data.groupby(by=['Marriage_Status']).sum()

In [ ]:
data_sum_Marital

## Singles are Buyed More Chocolates when Compared to Married/Divorced/widow

In [ ]:
Education_Status = []
for row in data['Education']:
    if row == 0:   Education_Status.append('Other')
    elif row == 1:   Education_Status.append('High-School')
    elif row == 2:   Education_Status.append('University')
    else: Education_Status.append('Graduate School')

In [ ]:
data['Education_Status'] = Education_Status

In [ ]:
data = data.drop(['Education'], axis=1)

In [ ]:
data_sum_Education =data.groupby(by=['Education_Status']).sum()

In [ ]:
data_sum_Education

In [ ]:
result = data.groupby(['Brand_Name','Gender','Education_Status'])['Education_Status'].aggregate('count')
result

In [ ]:
sns.distplot(result)
plt.plot()

## The More Quantity of Chocolates are Buyed High School and University people. In High School People Mostly Female in Brand1,Brand3,Male in Brand2,Brand 4,Brand5 are there.In University People Mostly Female in Brand1,Brand 4,Male in Brand2,Brand3,Brand5 are there.

In [ ]:
occupation = []
for row in data['Occupation']:
    if row == 0:   occupation.append('Unskilled/Unemployed')
    elif row == 1:   occupation.append('Skilled/employed')
    else: occupation.append('Management/Self-employed')

In [ ]:
data['occupation'] = occupation

In [ ]:
data = data.drop(['Occupation'], axis=1)

In [ ]:
data_sum_Occupation =data.groupby(by=['occupation']).sum()

In [ ]:
data_sum_Occupation

In [ ]:
result = data.groupby(['Brand_Name','Gender','occupation'])['occupation'].aggregate('count')
print(result)

In [ ]:
sns.distplot(result)
plt.plot()

## The More Quantity of Chocolates are Buyed Skilled Employee/Official.In Skilled Employee People Mostly Female in Brand1,Brand 3,Male in Brand2,Brand4,Brand5 are there.

In [ ]:
data_sum_marital =data.groupby(by=['Marriage_Status']).sum()

In [ ]:
data_sum_marital

In [ ]:
result = data.groupby(['Brand_Name','Gender','Marriage_Status'])['Marriage_Status'].aggregate('count')

In [ ]:
result

In [ ]:
sns.distplot(result)
plt.plot()

## The More Quantity of Chocolates are Buyed Singles.In Singles MostlyMale in Brand1,Brand2,Brand3,Brand 4, Brand 5 are there.

In [ ]:
city = []
for row in data['Settlement size']:
    if row == 0:   city.append('Small-City')
    elif row == 1:   city.append('Middle size-City')
    else: city.append('Big-city')

In [ ]:
data['city'] = city

In [ ]:
data = data.drop(['Settlement size'], axis=1)

In [ ]:
data_sum_settlement =data.groupby(by=['city']).sum()

In [ ]:
data_sum_settlement

In [ ]:
result = data.groupby(['Brand_Name','city','Gender'])['Gender'].aggregate('count')

In [ ]:
result

In [ ]:
sns.distplot(result)
plt.plot()

## The More Quantity of Chocolates are Buyed in Smallsized Cities. Brand 1 likes in Small sized cities , Female as Gender.Brand 2 likes in Small sized cities , Male as Gender.Brand 3 likes in Small sized cities , Female as Gender. Brand 4 likes in Middle sized cities,Female as Gender. Brand 5 likes in Big sized cities,Male as Gender.

In [ ]:
result = data.groupby(['Brand_Name','city','Marriage_Status'])['Marriage_Status'].aggregate('count')

In [ ]:
result

In [ ]:
sns.distplot(result)
plt.plot()

## The More Quantity of Chocolates are Buyed in Smallsized Cities. Brand 1 likes in Small sized cities Singles.Brand 2 likes in Small sized cities singles.Brand 3 likes in Small sized cities Married, widows People. Brand 4 likes in Middle sized cities,Married,widow,divorced people. Brand 5 likes in Big sized cities Singles

In [ ]:
Age_group = []
for row in data['Age']:
    if row >= 18 and row<=30:   Age_group.append('18-30')
    elif row >30 and row <=50 :  Age_group.append('31-50')
    else: Age_group.append('51-75')

In [ ]:
data['Age_group'] = Age_group

In [ ]:
data_sum_age =data.groupby(by=['Age_group']).sum()

In [ ]:
data_sum_age

In [ ]:
result = data.groupby(['Brand_Name','Age_group','city'])['city'].aggregate('count')

In [ ]:
result

In [ ]:
sns.distplot(result)
plt.plot()

In [ ]:
result = data.groupby(['Brand_Name','city','Gender','Marriage_Status'])['Marriage_Status'].aggregate('count')
result

In [ ]:
result = data.groupby(['Brand_Name','city','Gender','Marriage_Status','Education_Status','occupation'])['occupation'].aggregate('count')
result

## The More Quantity of Chocolates are Buyed Age group of 31-50. Brand 1 likes in Small sized cities Age group of 31-50.Brand 2 likes in Small sized cities Age group of 31-50.Brand 3 likes in Small sized cities 18-30 age group, widows People. Brand 4 likes in Middle sized cities 51-75 age group. Brand 5 likes in Big sized cities 31-50 Age Group people.

# Plots for Easy Understanding

In [ ]:
sns.violinplot(x = 'Sex',y = 'Quantity',data =data1)
plt.show()

In [ ]:
sns.violinplot(x = 'Settlement size',y = 'Quantity',data =data1,hue = 'Sex',split = True)
plt.show()

In [ ]:
sns.violinplot(x = 'Marital status',y = 'Quantity',data =data1,hue = 'Sex',split = True)
plt.show()

In [ ]:
sns.violinplot(x = 'Education',y = 'Quantity',data =data1,hue = 'Sex',split = True)
plt.show()

In [ ]:
sns.scatterplot(x = 'Brand_Name',y = 'Quantity', data = data,hue = 'Gender')
plt.show()

In [ ]:
sns.scatterplot(x = 'Brand_Name',y = 'Quantity', data = data,hue = 'occupation')
plt.show()

In [ ]:
sns.scatterplot(x = 'Brand_Name',y = 'Quantity', data = data,hue = 'city')
plt.show()

In [ ]:
sns.scatterplot(x = 'Brand_Name',y = 'Quantity', data = data,hue = 'Marriage_Status')
plt.show()

In [ ]:
sns.lineplot(data=data, x="Education_Status", y="Quantity")

In [ ]:
sns.lineplot(data=data, x="Age_group", y="Quantity")

In [ ]:
sns.lineplot(data=Brand_data_Sum, x="Brand_Name", y="Quantity")

In [ ]:
sns.lineplot(data=data_sum_age, x="Age_group", y="Quantity")

In [ ]:
sns.lineplot(data=data_Gender_Sum, x="Gender", y="Quantity")
plt.show()

In [ ]:
sns.lineplot(data=data_sum_Marital, x="Marriage_Status", y="Quantity")
plt.show()

In [ ]:
sns.lineplot(data=data_sum_Education, x="Education_Status", y="Quantity")
plt.show()

In [ ]:
sns.lineplot(data=data_sum_settlement, x="city", y="Quantity")
plt.show()

In [ ]:
sns.lineplot(data=data_sum_Occupation, x="occupation", y="Quantity")
plt.show()

# Business Insights/Conclusion

### By the Brand_data_sum We Observe that Most of the Quantity is 2 and then 5,4,1,3.
### Most of Sales occur in Brand 2 and least sales occur in Brand3
### Male Buys More Chocolates when Compare to Female.
### Data Contains Most of Buyers are not Purchased Chocolates based on category of Interest.
### Only 14638 Members are Buyed Chocolates Based on Interest
### Singles are Buyed More Chocolates when Compared to Married/Divorced/widow
### The More Quantity of Chocolates are Buyed High School and University people. In High School People Mostly Female in Brand1,Brand3,Male in Brand2,Brand 4,Brand5 are there.In University People Mostly Female in Brand1,Brand 4,Male in Brand2,Brand3,Brand5 are there.
### The More Quantity of Chocolates are Buyed Skilled Employee/Official.In Skilled Employee People Mostly Female in Brand1,Brand 3,Male in Brand2,Brand4,Brand5 are there.
### The More Quantity of Chocolates are Buyed Singles.In Singles MostlyMale in Brand1,Brand2,Brand3,Brand 4, Brand 5 are there.
### The More Quantity of Chocolates are Buyed in Smallsized Cities. Brand 1 likes in Small sized cities , Female as Gender.Brand 2 likes in Small sized cities , Male as Gender.Brand 3 likes in Small sized cities , Female as Gender. Brand 4 likes in Middle sized cities,Female as Gender. Brand 5 likes in Big sized cities,Male as Gender.
### The More Quantity of Chocolates are Buyed in Smallsized Cities. Brand 1 likes in Small sized cities Singles.Brand 2 likes in Small sized cities singles.Brand 3 likes in Small sized cities Married, widows People. Brand 4 likes in Middle sized cities,Married,widow,divorced people. Brand 5 likes in Big sized cities Singles
### The More Quantity of Chocolates are Buyed Age group of 31-50. Brand 1 likes in Small sized cities Age group of 31-50.Brand 2 likes in Small sized cities Age group of 31-50.Brand 3 likes in Small sized cities 18-30 age group, widows People. Brand 4 likes in Middle sized cities 51-75 age group. Brand 5 likes in Big sized cities 31-50 Age Group people.
### from Scatter plot We Observe that Males are in Brand 1,2, Females are in Brand 3,4,5

# Suggestions or Recommendations

### For Brand 1:
#### Mostly Target High School Male and Unskilled/management People and Married/Divorced, Try to Target Middle sized and Big size Cities . And Target 18-30 and 50-75 People. That Means Increase Promotions, Discounts,Try to know Interest of People Live in this Categories to improve Sales

### For  Brand 2:
#### Mostly Target High School/University Female and Graduated all People and Unskilled and Management Female and Try to Focuse Married/Widow Interest of Flavours and Try to Manufacture That type of Flavours also. and Focus on Big and Middle size cities Female and Target 18-30 and 50-75 People.That Means Increase Promotions, Discounts,Try to know Interest of People Live in this Categories to improve Sales

### For Brand 3:
#### Mostly Target High School Male and University Female and Graduate people and also Skilled Male and Mangement/Unskilled People who are Married/divorced and live in Big/middle size cities Male or Singles and Target 31-75 age Group peoples.That Means Increase Promotions, Discounts,Try to know Interest of People Live in this Categories to improve Sales

### For Brand 4:
#### Mostly Target High School Female and University Male and Graduate people and also Skilled Male and Mangement/Unskilled People who are Married/divorced and live in Big/Small size cities Male or Singles and Target 31-50 and 18-30 age Group peoples.That Means Increase Promotions, Discounts,Try to know Interest of People Live in this Categories to improve Sales

### For Brand 5:
#### Mostly Target High School Female and University Female and Graduate people and also Skilled Male and Mangement/Unskilled People who are Married/divorced and live in Middle/Small size cities Female or Married/Divorced and Target 50-75 and 18-30 age Group peoples.That Means Increase Promotions, Discounts,Try to know Interest of People Live in this Categories to improve Sales

## ** Use Business Insights to Promote or To do Suggestions. That means Customers Who Purchase More Sales in that Brand. Use That Customer are give offer When He/She Promotes Under Category of Suggestions. For Brand 1,3 Please improve Quality to Get More Sales

# Creating Model for finding Quantity

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
data1.columns

In [ ]:
data1.drop(['Brand_Name'],axis = 1,inplace = True)

In [ ]:
features = list(set(data1.columns)-set(["Brand"]))
target = list(["Brand"])

x = data1[features].values
y = data1[target].values

train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.3,random_state=0)

scaler = StandardScaler()
scaler.fit(train_x)
train_x =scaler.transform(train_x)
test_x = scaler.transform(test_x)

logistic = LogisticRegression()
logistic.fit(train_x,train_y.ravel())

pred_logistic = logistic.predict(test_x)
print(pred_logistic)

confusion_matrix = confusion_matrix(pred_logistic,test_y)
print(confusion_matrix)

import seaborn as sns
plt.figure(figsize=(10,10))
sns.heatmap(confusion_matrix,annot=True)
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.show()

accuracy_logistic = accuracy_score(pred_logistic,test_y)
print("accuracy_score_logistic :",accuracy_logistic)

print("Misclassified Samples :",(test_y != pred_logistic).sum())
print("Classified Samples:",(test_y == pred_logistic).sum())

In [ ]:
data1 = data1.astype('float')

In [ ]:
# RandomForest Classifier
from sklearn.metrics import mean_squared_error
from pprint import pprint
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

features = list(set(data1.columns)-set(["Brand"]))
target = list(["Brand"])

x = data1[features].values
y = data1[target].values

train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.3,random_state=1)

scaler = StandardScaler()
scaler.fit(train_x)
train_x =scaler.transform(train_x)
test_x = scaler.transform(test_x)

rf = RandomForestClassifier(n_estimators=100,random_state=1)
rf.fit(train_x,train_y.ravel())

pred_rf = rf.predict(test_x)

rf_rmse = (mean_squared_error(test_y,pred_rf))**0.5
rf_rmse

#confusion_matrix = confusion_matrix(test_y.ravel(),pred_rf)
#print(confusion_matrix)

"""import seaborn as sns
plt.figure(figsize=(10,10))
sns.heatmap(confusion_matrix,annot=True)
plt.xlabel("Predicted")
plt.ylabel("Actual")
plt.show()'"""

accuracy_RF = accuracy_score(test_y,pred_rf)
print("accuracy_RF:",accuracy_RF)

In [ ]:
print("Misclassified Samples :",(test_y != pred_rf).sum())
print("Classified Samples:",(test_y == pred_rf).sum())

# So We Use Random forest and Logistic Regression Models

In [ ]:
data1[features]

In [ ]:
features

In [ ]:
x = np.array([1,1,2.1,70688,1.50,1.5,0.35,1,2,35,1,0,1,600,2.9,2,0,2.1,0,13000,0,0,2.0])

In [ ]:
x = x.reshape(1,-1)

In [ ]:
x = scaler.fit_transform(x)

In [ ]:
x

In [ ]:
logistic.predict(x.reshape(1,-1))

In [ ]:
rf.predict(x)

# Both Models Says that this values are Brand 0. No Chololate buying in this store.